{$MONITOR_SITE_ADDRESS::8080} {
  encode zstd gzip

  handle /api/* {
    reverse_proxy oci-arm-monitor-server:9090
  }

  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }
}
